[project]
	description = Common Utils library is developed to reduce efforts to achieve common features of the android apps. While developing the apps, we realized that we?re coding for many common features in all the apps. For e.g. check the network?s availability, using shared preferences, parsing, etc. And like us, many other android developers might be doing the same. So it needs to be reduced for all to save the development time with ease. This is how an idea popped in our mind, and we decided to develop an SDK which can reduce developers? time and efforts.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZengBin (LichenZeng)
[access "refs/for/refs/*"]
	read = group user/ZengBin (LichenZeng)
	push = group user/ZengBin (LichenZeng)
	label-Code-Review = -2..+2 group user/ZengBin (LichenZeng)
	label-Verified = -1..+1 group user/ZengBin (LichenZeng)
	rebase = group user/ZengBin (LichenZeng)
	removeReviewer = group user/ZengBin (LichenZeng)
	submit = group user/ZengBin (LichenZeng)
[access "refs/heads/*"]
	read = group user/ZengBin (LichenZeng)
	create = group user/ZengBin (LichenZeng)
	push = +force group user/ZengBin (LichenZeng)
	pushMerge = group user/ZengBin (LichenZeng)
[access "refs/tags/*"]
	push = group user/ZengBin (LichenZeng)
	push = +force group user/ZengBin (LichenZeng)
